<p align="center">
  <img src="https://user-images.githubusercontent.com/2754728/37917923-9e9de498-3117-11e8-95ba-806c31c05a02.png" width="100" height="auto" alt="Hex and Webpack">
</p>

SETUP INSTRUCTION: Add title here for repo
<h1 align="center">{Project Name}</h1>
<h3 align="center">A WordPress theme built with modern frontend tools</h3>

<p align="center">
  SETUP INSTRUCTION: Add handle here for repo
  <a href="https://github.com/hex-digital/{handle}/releases">
    <img src="https://img.shields.io/badge/version-1.0.0-green.svg?style=flat-square" alt="Version 1.0.0">
  </a>
</p>


Features:

- Webpack, via Laravel Mix - [View on GitHub](https://github.com/JeffreyWay/laravel-mix)
  - SCSS concatenation and minification
  - JS concatenation and minification
  - Babel transpiling for ECMAScript 2015
  - ESLint, based on AirBnB's standards
  - SCSS linting, based on InuitCSS standards
  - Image optimisation
  - SVG Spritesheet system
- InuitCSS v6.0.0 Framework - [View on GitHub](https://github.com/inuitcss/inuitcss)
- ACF Migrations support - [View on GitHub](https://github.com/hex-digital/acf-migrations)
- A Changelog


---

#### Navigate this page

- [Getting started](#getting-started)
  - [Set up the virtual host](#set-up-the-virtual-host)
  - [Install WordPress](#install-wordpress)
  - [Download and install the skeleton theme](#download-and-install-the-skeleton-theme)
- [Dependencies](#dependencies)
  - [Install dependencies](#install-dependencies)
  - [Setup dependencies](#setup-dependencies)
- [Final setup](#final-setup)
  - [Task running with Laravel Mix](#task-running-with-laravel-mix)
  - [Creating the WordPress tables](#creating-the-wordpress-tables)
- [Contributing](#contributing)

## Getting started

### Set up the virtual host

>Replace any lines that show `{handle}` with your site handle name.

Setup virtual host using checkout script from [github:hex-digital/tools](https://github.com/hex-digital/tools/blob/master/checkout.sh):

    sudo sh ~/Sites/tools/checkout.sh

### Install WordPress

Install latest wordpress using wordpress script from [github:hex-digital/tools](https://github.com/hex-digital/tools/blob/master/wordpress.sh):

    cd ~/Sites/{handle}
    sh ~/Sites/tools/wordpress.sh

### Download and install this theme

Change directory into the theme directory, and clone the repo:

    cd wp-content/themes/{handle}
    git clone git@github.com:hex-digital/{handle}.git .

>Ensure you replace 'handle', and that the line ends with a .
so it does not create an extra folder.

[(top)](#navigate-this-page)

## Dependencies

### Install dependencies

Now we have the codebase, we need to install dependencies. We use
[yarn](https://yarnpkg.com/lang/en/docs/install/) to install the Node.js
dependencies from package.json, and [composer](https://getcomposer.org/) for
autoloading PHP classes.

    yarn install

>We try to avoid composer dependencies, and only use for autoloading classes.

### Setup dependencies

InuitCSS requires the creation of a config file, which is specific to your environment.
This means it must be created, and not stored in version control. It can be done like so:

    # InuitCSS 6.0.0
    cp resources/sass/settings/_settings.config.dist.scss resources/sass/settings/_settings.config.scss

[(top)](#navigate-this-page)

## Final setup

### Task running with Laravel Mix

We use laravel mix to turn our resource files into build files. This must be
run whenever JS, SCSS or images are changed.

    # Development build, including linting
    yarn run dev

    # Dev build with watch task
    yarn run watch

    # Production build with minification and optimisation
    yarn run production

### Creating the WordPress tables

Finally, complete WordPress installation at http://{handle}.local.

Set username to hex, and the password to a 32 character length password
generated by LastPass. Finally, set the email to dev@hexdigital.com.

Remember to select the theme from Appearance > Themes.

[(top)](#navigate-this-page)

## Contributing

Please refer to our global Hex GitHub Contributing guidelines for information
on how to contribute to this repository.

[GitHub Contributing Guidelines](https://github.com/hex-digital/guidelines/tree/master/github-contributing)

[(top)](#navigate-this-page)
