/* ==========================================================================
   #OBJECT FIT
   ========================================================================== */

/**
 * Attach our object fit mixin to a utility class.
 */

.u-object-fit {
  @include object-fit();
}
